---
# SCSS File
---

body {
    font-size: 16px;
    font-family: 'Open Sans', serif;
    min-width: 320px;

    @media screen and (min-width: 768px) {
	max-width: 960px;
	margin: 0 2em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', sans-serif;
}

ul#SocialLinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
	margin-right: 0.5em;
	&:before {
	    content: "\00BB\00A0";
	}
    }
}

